nav {
  font-family: effect, fantasy;
}
.nav-link {
    color: white;
}
.nav-link:hover {
	color: #eeef00;
}
.navbar .btn {
	background: linear-gradient(to bottom, #ffef00, #ffd300);    
	border: 0;
    padding: 4px;
	box-shadow: none;
	margin-right: 1rem;
    margin-left: 1rem;
}
#search_form_collapse label {
	color: white;
}
#search_form_collapse_navbar {
	padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5rem;
}
.nav-item {
	display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 0;
}

#header_search_form {
	color: white;
}
#header_search_advanced_button_image {
	color: transparent;
}
#searched_text {
	border-radius: 0.5rem;
}
#header_search_container {
	display: flex;
	align-items: center;
	margin-right: 4rem;
}
#search_form_collapse_navbar select {
    color: black;
}